<section id="vid" class="video-section">

    <div class="connect">
        <%= image_tag 'artspace2.png', :class => "image-50" %>
        <ul>

            <li><%= link_to '#part1' do %>This sounds cool, I want to support. <i class="fa fa-chevron-right"></i><% end %></li>

            <li><%= link_to '#part2' do %>I'm an artist, where do I sign up? <i class="fa fa-chevron-right"></i><% end %></li>

            <li><%= link_to '#part3' do %>Cool, how do I become a member? <i class="fa fa-chevron-right"></i><% end %></li>

            <li><%= link_to '#part4' do %>Our brand would like to be apart. <i class="fa fa-chevron-right"></i><% end %></li>

            <li><%= link_to '#part5' do %>Show me more on the Art Space. <i class="fa fa-chevron-right"></i><% end %></li>

            <li><%= link_to '#part6' do %>Where you located during the tour? <i class="fa fa-chevron-right"></i><% end %></li>

        </ul>

    </div>
    

    <div id="P1" class="player" 
         data-property="{videoURL:'https://youtu.be/1YrMO7MJpC8',containment:'#vid',startAt:0,mute:true,autoPlay:true,loop:true,opacity:.3,showControls:false,addRaster:true,optimizeDisplay: true}">
    </div>

</section>


<section class="launch-section">
  <div id="part1" class="support">
    <h1>Be Apart and Support Our Campaign</h1>

    <div class="launch info">
        Art Space Project is a pop-up creative space where the community can interact with art and artists can showcase their work where the people are.  It will be truly one of a kind exhibit to connect communities and expand the culture in Charlotte, NC and other areas.</br></br>

        We are taking our DIY 32 sqft portable art wall to the next level and creating a 256 sqft portable interactive art space that can be easily setup anywhere to connect communities to creative initiatives. To accomplish this, we are going to need your help to bring our project alive and to your area.</br></br>

        For over two years, we have traveled around Charlotte and surrounding areas to bring art to people with our portable interactive art wall.  We have partnered with festivals like Oktoberfest, galleries like Charlotte Art League and venues like Strike City to expand the creative culture. </br></br>

        It's been a joy watching people of all ages get excited about art and we want to conitinue the movement by building a portable interactive space for all to enjoy.  Thanks for supporting and contributing to the campaign.


    </div>

    <div class="kick">
        Kickstarter Launching August 7

    </div>

    <div class="kickstarter">

    <iframe frameborder="0" height="420" scrolling="no" src="https://www.kickstarter.com/projects/industryclt/industry-coworking-coffee-and-community-in-charlot/widget/card.html?v=2" width="220"></iframe>
    </div>

    <div class="launch info">
        Catch us popping up with our original art wall during Aug 7-28 in Charlotte, NC.  Artists come out and create a mural to showcase your work.  Venues contact us at info@330monday.com if you would like to host the wall during our fundraising campaign.


     </div>



  </div>



  <div id="part6" class="calendar">

 

    <div class="current-event">

         <%= image_tag 'fundraising-tour.png', :class => "event-img", :id => "event0" %>

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event1" %>

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event2" %>

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event3" %>

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event4" %>

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event5" %>

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event6" %>

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event7" %>

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event8" %>

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event9" %>

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event10" %> 

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event11" %>
        
        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event12" %>

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event13" %>      

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event14" %> 

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event15" %> 

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event16" %> 

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event17" %> 

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event18" %> 

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event19" %>   

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event20" %>      

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event21" %> 

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event22" %> 

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event23" %> 

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event24" %> 

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event26" %> 

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event27" %>    

        <%= image_tag 'fundraising-tour-tbd.png', :class => "event-img", :id => "event28" %>                
    </div>


        <%= link_to '#event1', onclick: "showstuff('event1'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>

        <div class="day">
            <div class="date">7</div>
            <div class="event">

                Launch TBD
            </div>

        </div>
        <% end %>

        <%= link_to '#event2', onclick: "showstuff('event2'); hidestuff('event0'); hidestuff('event1'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28'); hidestuff('event29'); hidestuff('event30');" do %>

          <div class="day">
            <div class="date">8</div>
            <div class="event">

                Pop Up Event TBD
            </div>

        </div>
        <% end %>


 <%= link_to '#event3', onclick: "showstuff('event3'); hidestuff('event0'); hidestuff('event2'); hidestuff('event1'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>

          <div class="day">
            <div class="date">9</div>
            <div class="event">

                Pop Up Event TBD
            </div>
        </div>
        <% end %>

         <%= link_to '#event4', onclick: "showstuff('event4'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event1'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>

            <div class="day">
            <div class="date">10</div>
            <div class="event">

                 Pop Up Event TBD
            </div>
        </div>
        <% end %>
         <%= link_to '#event5', onclick: "showstuff('event5'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event1'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>

            <div class="day">
            <div class="date">11</div>
            <div class="event">

                 Pop Up Event TBD
            </div>
        </div>
        <% end %>

         <%= link_to '#event6', onclick: "showstuff('event6'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event1'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>

            <div class="day">
            <div class="date">12</div>
            <div class="event">

                 Pop Up Event TBD
            </div>
        </div>
        <% end %>

     <%= link_to '#event7', onclick: "showstuff('event7'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event1'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>

        <div class="day">
            <div class="date">13</div>
            <div class="event">

                 Pop Up Event TBD
            </div>
        </div>
        <% end %>

     <%= link_to '#event8', onclick: "showstuff('event8'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event1'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>


        <div class="day">
            <div class="date">14</div>
            <div class="event">

                Pop Up Event TBD
            </div>

        </div>
        <% end %>
     <%= link_to '#event9', onclick: "showstuff('event9'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event1'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>

          <div class="day">
            <div class="date">15</div>
            <div class="event">

                Pop Up Event TBD
            </div>
        </div>
        <% end %>

         <%= link_to '#event10', onclick: "showstuff('event10'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event1'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>

          <div class="day">
            <div class="date">16</div>
            <div class="event">

                Pop Up Event TBD
            </div>

        </div>
        <% end %>
         <%= link_to '#event11', onclick: "showstuff('event11'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event1'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>

            <div class="day">
            <div class="date">17</div>
            <div class="event">

                 Pop Up Event TBD
            </div>
        </div>
        <% end %>

         <%= link_to '#event12', onclick: "showstuff('event12'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event1'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>

         <div class="day">
            <div class="date">18</div>
            <div class="event">

                 Pop Up Event TBD
            </div>
        </div>

        <% end %>
        
         <%= link_to '#event13', onclick: "showstuff('event13'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event1'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>

        <div class="day">
            <div class="date">19</div>
            <div class="event">

                 Pop Up Event TBD
            </div>
        </div>
        <% end %>

         <%= link_to '#event14', onclick: "showstuff('event14'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event1'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>

        <div class="day">
            <div class="date">20</div>
            <div class="event">

                 Pop Up Event TBD
            </div>
        </div>
        <% end %>

         <%= link_to '#event15', onclick: "showstuff('event15'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event1'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>


        <div class="day">
            <div class="date">21</div>
            <div class="event">

                Pop Up Event TBD
            </div>
        </div>
        <% end %>

         <%= link_to '#event16', onclick: "showstuff('event16'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event1'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>


          <div class="day">
            <div class="date">22</div>
            <div class="event">

                Pop Up Event TBD
            </div>
        </div>
        <% end %>

         <%= link_to '#event17', onclick: "showstuff('event17'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event1'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>

          <div class="day">
            <div class="date">23</div>
            <div class="event">

                Pop Up Event TBD
            </div>
        </div>
        <% end %>

         <%= link_to '#event18', onclick: "showstuff('event18'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event1'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>

        <div class="day">
            <div class="date">24</div>
            <div class="event">

                 Pop Up Event TBD
            </div>
        </div>
        <% end %>
         <%= link_to '#event19', onclick: "showstuff('event19'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event1'); hidestuff('event20'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>

        <div class="day">
            <div class="date">25</div>
            <div class="event">

                 Pop Up Event TBD
            </div>
        </div>
        <% end %>
         <%= link_to '#event20', onclick: "showstuff('event20'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event1'); hidestuff('event21'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>

        <div class="day">
            <div class="date">26</div>
            <div class="event">

                 Pop Up Event TBD
            </div>
        </div>
        <% end %>
         <%= link_to '#event21', onclick: "showstuff('event21'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event1'); hidestuff('event22'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>

        <div class="day">
            <div class="date">27</div>
            <div class="event">

                 Pop Up Event TBD
            </div>

        </div>
        <% end %>
     <%= link_to '#event22', onclick: "showstuff('event22'); hidestuff('event0'); hidestuff('event2'); hidestuff('event3'); hidestuff('event4'); hidestuff('event5'); hidestuff('event6'); hidestuff('event7'); hidestuff('event8'); hidestuff('event9'); hidestuff('event10'); hidestuff('event11'); hidestuff('event12'); hidestuff('event13'); hidestuff('event14'); hidestuff('event15'); hidestuff('event16'); hidestuff('event17'); hidestuff('event18'); hidestuff('event19'); hidestuff('event20'); hidestuff('event21'); hidestuff('event1'); hidestuff('event23'); hidestuff('event24'); hidestuff('event25'); hidestuff('event26'); hidestuff('event27'); hidestuff('event28');" do %>


        <div class="day">
            <div class="date">28</div>
            <div class="event">

                 Pop Up Event TBD
            </div>

        </div>
        <% end %>
    
    
  </div>


  


  </section>

<section class="about-section">

     <%= image_tag 'oktoberfest6.JPG', :class => "image-50" %>

     <%= image_tag 'artleague.png', :class => "image-50" %>
    



    </section>  


<section id="part5" class="main-section">

    <h1>Art Space: Interactive Portable Gallery</h1>

 <%= image_tag 'artspace-info.png', :class => "event-img" %>






	


</section>

    <section id="part2" class="artist-section">

       

        <div class="artists-half">
             <h1>CREATIVE CLUB.</h1>

            <ul>
                <li>Present your work in cool interactive exhibits</li>
                <li>Sell and present your art without the hassle</li>
                <li>Access to be apart of community exhibitions</li>
                <li>Access to rent partial or whole space</li>
            </ul>



        </div>

        <div class="artists-half2">

            <h2>Annual Membership</h2>
            <h6>Limited Spaces</h6>
            <h3><span class="strikethru">$150</span> $50</h3>
            

            <%= link_to 'Coming Soon', '#', class: 'button-art' %>


        </div>




    </section>


    <section id="part3" class="member-section">

        <div class="artists-half">
             <h1>MEMBERSHIP CLUB.</h1>

            <ul>
                <li>Free or discounted tickets for ticketed events.</li>
                <li>Invitations to member-only exhibtion previews and special events</li>
                <li>10% discount on most exhibitions and art</li>
                <li>Part of limited member art club.</li>
                <li>Access to rent partial or whole space</li>
            </ul>

        </div>

        <div class="artists-half2">

            <h2>Annual Membership</h2>
            <h6>Limited Spaces</h6>
            <h3><span class="strikethru">$50</span> $25</h3>
            

            <%= link_to 'Coming Soon', '#', class: 'button-art' %>


        </div>




    </section>


    <section id="part4" class="sponsor-section">

        <h1>Brand Showcase & Partnerships</h1>

        <div class="sponsor-info">
            Partner with the Art Space to showcase your brand and connect to communities and cultures.  You will get to work with 330Monday Interactive Exhibit Agency to develop a strategy and creative plan to connect with our visitors.  We provide partners with interactive exhibits and brand awareness partnerships.  Contact info@330Monday.com for more info.
        </div>

        <div class="partnership-box">

        <div class="partnership-column">    
        <div class="partnership1">
            <h2>Interactive Exhibitor</h2>


            <ul>
                <li>Brand interactive exhibit placed in premium area.</li>
                <li>Logo placed on website, flyer, event handouts and social media</li>
                <li>Promo premiums handed to all visitors and artists</li>
                <li>Brand awareness with press and news outlets</li>
                <li>Additional benefits and customizations available</li>

            </ul>


            <div class="price-sponsor">
                $1,000 - $5,000

            </div>

        </div>

        <div class="partnership3">
            <h2>Art Supply Partner</h2>


            <ul>
                <li>Art stations and interactive walls branded with your logo.</li>
                <li>Logo placed on website, flyer, event handouts and social media</li>
                <li>Art promo premiums handed to all visitors and artists</li>
                <li>Brand awareness with press and news outlets</li>
                <li>Additional benefits and customizations available</li>

            </ul>


            <div class="price-sponsor">
                In-Kind / Pricing Various

            </div>

        </div>

        <div class="partnership5">
            <h2>Materials Partner</h2>


            <ul>
                <li>Special placement of logo on space entrance and exit</li>
                <li>Logo placed on website, flyer, event handouts and social media</li>
                <li>Videos and photos of travels and setup branded with logo</li>
                <li>Brand awareness with press and news outlets</li>
                <li>Additional benefits and customizations available</li>

            </ul>


            <div class="price-sponsor">
                In-Kind / Pricing Various

            </div>

        </div>



    </div>


        <div class="partnership-column">  
        <div class="partnership2">
            <h2>Venue & Event Partner</h2>


            <ul>
                <li>Attract the community to your venue</li>
                <li>Logo placed on website, flyer, event handouts and social media</li>
                <li>Brand awareness with press and news outlets</li>
                <li>Options to partner on special events</li>

            </ul>


            <div class="price-sponsor">
                In-Kind / Pricing Various

            </div>

        </div>

        <div class="partnership4">
            <h2>Travel & Setup Partner</h2>


            <ul>
                <li>Travel vehicles branded with your logo</li>
                <li>Logo placed on website, flyer, event handouts and social media</li>
                <li>Videos and photos of travels and setup branded with logo</li>
                <li>Brand awareness with press and news outlets</li>
                <li>Additional benefits and customizations available</li>

            </ul>


            <div class="price-sponsor">
                In-Kind / Pricing Various

            </div>

        </div>

         <div class="partnership6">
            <h2>Title Partner</h2>


            <ul>
                <li>Brand placed with gallery name</li>
                <li>Logo placed on website, flyer, event handouts and social media</li>
                <li>Monthly video recaps and photos branded with logo</li>
                <li>Brand awareness with press and news outlets</li>
                <li>Year agreement with exposure at 100s of events, festivals and venues
                <li>Additional benefits and customizations available</li>

            </ul>


            <div class="price-sponsor">
                $100,000

            </div>

        </div>
    </div>
    </div>

        <div class="rights">Powered by <%= link_to '330monday.com', 'http://330monday.com', :target => "_blank" %>. Site Designed by <%= link_to 'http://ccevans.com', :target => "_blank" do %> <%= image_tag 'spaceship-logo-white.png', :class => "design-footer" %> <% end %>.</div>




    </section>








<script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'inline')
          e.style.display = 'none';
       else
          e.style.display = 'inline';
    }
function showstuff(id){
   document.getElementById(id).style.display = 'inline';
}
 
function hidestuff(id){
   document.getElementById(id).style.display = 'none';
}
//-->
</script>

<script>
   $(function(){
      $(".player").YTPlayer();
    });
</script>
